CJA_LISTENING_INTERFACE=0.0.0.0
CJA_LISTENING_PORT=3000
CJA_CAPTCHA_KEY=MOPO8/pr8f7tXkFI+2X4Ea+M6+F7FD8Y4PGXdKMcRbI=
CJA_CAPTCHA_NONCE=pxuKaq8bI9/OQrdX9Y9+7Iv09kztwkox
CJA_JWT_SECRET=TA0PSlCLeBbITCFjNZn4pDZ1I98vjTOF65xnUV4adNjYpzF2JEytQwDvDXPwqYNU88zL6npaXlHol+qqBkvf8LMPCOsbVZMywbTgKO7nhIUReNXbYm9LgYQoPfNOgMTIaOgKfWcOQ125kZHepE2g8h6JXuJF2SmvBzTtq1aCCgjV/QpdiVY1t/BqEVKTMp7WwSw86UxtB8i9NkoEt5Sm4ulmo/an0FsiU5ncO6rk7u6jOYJYpeArOeCLXBN2e5AKDWM2gQZVxmiqx6YoMzTB38SrNFvF8Dpg/fgr633CvplIRQ6p8KT88bdAp8IUzNJLEu0eDQk5gHCiWRsTWZb4pg==
